@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #7e22ce;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}
